---
import "@/styles/global.css";

import BaseHead from "@layouts/BaseHead.astro";
import ThemeToggle from "@components/ThemeToggle.astro";

interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
	noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
}

const { title, description, image, noindex = false } = Astro.props as Props;
---

<!doctype html>
<html lang="en" transition:animate="fade">
	<head>
		<BaseHead
			title={title}
			description={description}
			image={image ? image : undefined}
			noindex={noindex}
		/>
	</head>
	<body id="body" class="min-h-[100lvh]">
		<ThemeToggle />
		<main>
			<slot />
		</main>
	</body>
</html>
